@{
    ViewBag.Title = "Home Page";
}

<!-- home section starts  -->

<section style="margin-top:40px" class="home" id="home">



    <div class="English content">
        <h3>Choose best price from your Home</h3>
        <p>
            We provide this application to help you find your products at best price ,
            Save Money ! Save Time !
        </p>
        <a href="/Home/Options" class="btn"> Discover Products <span class="fas fa-chevron-right"></span> </a>
    </div>
    <div class="English image">
        <img style="height:550px" src="~/Images/bag.svg" alt="">
    </div>


    <div class="Arabic content">
        <h3>اختار السعر الانسب من البيت</h3>
        <p>

             
            نقدم لكم هذا التطبيق لمساعدتكم على الحصول على البضائع بافضل الاسعار 
                  ! احفظ وقتك ! احفظ اموالك
        </p>
        <a href="/Home/Options" class="btn"> تصفح البضائع<span class="fas fa-chevron-right"></span> </a>
    </div>
    <div class="Arabic image">
        <img style="height:550px" src="~/Images/bag.svg" alt="">
    </div>

</section>

<!-- home section ends -->
<!-- about section starts  -->

<section class="about" id="about">

    <h1 class="English heading"> <span>about</span> us </h1>

    <div class="row">
        <div class="English content">
            <h3>Compare grocery prices</h3>
            <p>
                Compare 15+ supermarkets, discover daily deals, and create smart shopping lists to save as much as 30% on your next grocery trip
              
            </p>
            <a href=" http://localhost:4200/" class="btn"> Give Us Feedback <span class="fas fa-chevron-right"></span> </a>
        </div>

        <div class="English image">
            <img style="height:550px;min-height:200px;max-height:550px" src="~/Images/dollar.svg" alt="">
        </div>
    </div>






    <h1 class="Arabic heading"> <span>معلومات </span> عنا </h1>

    <div class=" row">



        <div class="Arabic content">
            <h3>قارن اسعار المنتجات</h3>
            <p>
                قارن أكثر من 15 متجرًا سوبر ماركت ، واكتشف الصفقات اليومية ، وأنشئ قوائم تسوق ذكية لتوفير ما يصل إلى 30 ٪ في رحلة البقالة التالية
              
            </p>
            <a href=" http://localhost:4200/" class="btn">تقييم !<span class="fas fa-chevron-right"></span> </a>
        </div>

        <div class="Arabic image">
            <img style="height:550px;min-height:200px;max-height:550px" src="~/Images/dollar.svg" alt="">
        </div>
    </div>


</section>

