
<div class="English">
    <section class="footer" style="margin-bottom:0px">

        <div class="box-container">

            <div class="box">
                <h3>quick links</h3>
                <a href="/Home/Index"> <i class="fas fa-chevron-right"></i> home </a>

            </div>

            <div class="box">
                <h3>our services</h3>
                <a href="#"> <i class="fas fa-chevron-right"></i> choose best prices</a>
                <a href="#"> <i class="fas fa-chevron-right"></i> track supermarkets</a>
                <a href="#"> <i class="fas fa-chevron-right"></i> track changes of prices </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> stop merchant monopoly</a>

            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#"> <i class="fas fa-phone"></i> +71544112 </a>

                <a href="#"> <i class="fas fa-envelope"></i> admin@usal.edu.com </a>

                <a href="#"> <i class="fas fa-map-marker-alt"></i> lebanon, Ghobiery </a>
            </div>


        </div>


    </section>


</div>


<div class="Arabic">
    <section class="footer" style="margin-bottom:0px">

        <div class="box-container">

            <div class="box">
                <h3>روابط سريعه</h3>
                <a href="/Home/Index"> <i class="fas fa-chevron-right"></i>  الصفحه الرئيسيه</a>

            </div>

            <div class="box">
                <h3>الخدمات</h3>
                <a href="#"> <i class="fas fa-chevron-right"></i> تقديم افضل الاسعار</a>
                <a href="#"> <i class="fas fa-chevron-right"></i> مراقبه المتاجر</a>
                <a href="#"> <i class="fas fa-chevron-right"></i> مراقبه اسعار المنتجات </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> وقف احتكار التجار</a>

            </div>

            <div class="box">
                <h3>:للتواصل على</h3>
                <a href="#"> <i class="fas fa-phone"></i> +71544112 </a>

                <a href="#"> <i class="fas fa-envelope"></i> admin@usal.edu.com </a>

                <a href="#"> <i class="fas fa-map-marker-alt"></i> لبنان,منطقه الغبيري  </a>
            </div>


        </div>


    </section>


</div>
